---

---

<div class="py-4 grid md:grid-cols-2 gap-2 mb-32 mt-24 px-8 place-items-center">
   <div class="space-y-4"> 
    <h1 class="text-6xl">Discover <br/>
    And Collect<br/>
    Rare NFTs</h1>
    <p class="">We are going to use Roboto font for our body text.</p>
   <div class="flex items-center gap-4">
    <button class="py-3 px-8 text-bodyBg bg-accent rounded-full">Buy NFTS</button>
    <button class="py-3 px-8 text-bodyBg bg-accent rounded-full">SELL NFTS</button>
   </div>
    </div>

    <img src="./hero.png" alt="nft">
</div>