---

---

<div class="py-8 grid md:grid-cols-2 gap-8 place-items-center">
   <div class="space-y-4"> 
    <h1 class="text-6xl">Discover <br/>
    And Collect<br/>
    Rare NFTs</h1>
    <p class="">We are going to use Roboto font for our body text.</p>
   <div class="flex items-center gap-4">
    <button class="py-3 px-8 text-bodyBg bg-accent rounded-full">Buy NFTS</button>
    <button class="py-3 px-8 text-bodyBg bg-accent rounded-full">SELL NFTS</button>
   </div>
    </div>

    <img src="https://images.unsplash.com/photo-1642388691919-231d16e51e7f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80" alt="nft">
</div>