<div>
  <h3 class="mb-8">Featured On</h3>
  <div class="flex items-center bg-accent gap-6 p-4">
    <a href="">
      <img src="./techcrunch.png" alt="techcrunch" />
    </a>
    <a href="">
      <img src="./fastcompany.png" alt="fastcompany" />
    </a>
    <a href="">
      <img src="./mit.png" alt="mit" />
    </a><a href="">
      <img src="./forbes.png" alt="forbes" />
    </a>
  </div>

  <div class="grid md:grid-cols-2 gap-4 mt-8 ">
    <img
      src="./analytics.png"
      alt="analytics image"
    />
    <div>
      <h3>Analytics</h3>
      <h3>built-in analytics to track your nfts</h3>
      <p>
        Use our built-in analytics dashboard to pull valuable insights and
        monitor the value of your Krypto portfolio over time.
      </p>
      <button class="py-3 px-4 text-bodyBg bg-accent rounded-full"
        >Use our built-in analytics dashboard to pull valuable insights and
        monitor the value of your Krypto portfolio over time.</button
      >
    </div>
  </div>
  <div>
   <p class="text-xl">Analytics</p>
   <div class="grid md:grid-cols-2 gap-2 mt-8">
    <div>
      <p class="text-4xl">Built-In Analytics To <br>
        Track Your NFTS</p>
      <p>hello world</p>
    </div>
    <img src="./analytic.png" width="386" height="386" alt="analytic">
   </div>
  </div>
</div>
 
