<div>
  <h3 class="mb-8">Featured On</h3>
  <div class="flex items-center bg-accent gap-12 content-center p-4">
    <a href="">
      <img src="./techcrunch.png" alt="techcrunch" />
    </a>
    <a href="">
      <img src="./fastcompany.png" alt="fastcompany" />
    </a>
    <a href="">
      <img src="./mit.png" alt="mit" />
    </a><a href="">
      <img src="./forbes.png" alt="forbes" />
    </a>
  </div>

  <div class="grid md:grid-cols-2 gap-4 mt-8">
    <img src="./analytics.png" alt="analytics image" />
    <div>
      <p class="text-xl mt-8">Analytics</p>
      <p class="text-4xl mt-4">
        Built-In Analytics To <br />
        Track Your NFTS
      </p>
      <p class="mt-4">
        Use our built-in analytics dashboard to pull valuable insights and
        monitor the value of your Krypto portfolio over time.
      </p>

      <button
        class="mt-8 inline-block px-6 py-2.5 bg-accent text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
        >View Our Pricing</button
      >
    </div>
    <div>
      <p class="text-xl">Analytics</p>
      <div class="grid md:grid-cols-2 gap-2 mt-8">
        <div>
          <p class="text-4xl">
            Built-In Analytics To <br />
            Track Your NFTS
          </p>
          <p class="mt-4">
            Use our built-in analytics dashboard to pull valuable <br /> insights
            and monitor the value of your Krypto portfolio over time.
          </p>
          <button
            class="mt-8 inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
            >View Our Pricing</button
          >
        </div>
        <img src="./analytic.png" width="300" height="386" alt="analytic" />
      </div>
    </div>
  
  </div>
  <div>
    <p class="text-center mt-8">Testimonials</p>
    <div class="grid md:grid-cols-3 gap-2 mt-4">
      <img
      src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
      class="rounded-full w-32"
      alt="Avatar"
    />
    <img
  src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
  class="rounded-full w-32"
  alt="Avatar"
/>
<img
  src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
  class="rounded-full w-32 bg-blue-600"
  alt="Avatar"
/>
    </div>
  </div>
  
</div>
