<div>
  <h3 class="mb-4">Featured On</h3>
  <div class="flex items-center bg-accent gap-6 p-4">
    <a href="">
      <img
        src="https://logos-download.com/wp-content/uploads/2016/05/Forbes_logo_black-700x183.png"
        alt=""
      />
    </a>
    <a href="">
      <img src="" alt="">
      Another logo here
    </a>
   <a href="">
      <img src="" alt="">
      another logo here
   </a>
   <a href="">
      <img src="" alt="">
      another logo here 
   </a>
  </div>

  <div class="grid md:grid-cols-2 gap-8">
    <img
      src="https://images.unsplash.com/photo-1592609931095-54a2168ae893?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="ddd"
    />
    <div>
      <h3>Analytics</h3>
      <h3>built-in analytics to track your nfts</h3>
      <p>
        Use our built-in analytics dashboard to pull valuable insights and
        monitor the value of your Krypto portfolio over time.
      </p>
      <button class="py-3 px-8 text-bodyBg bg-accent rounded-full"
        >Use our built-in analytics dashboard to pull valuable insights and
        monitor the value of your Krypto portfolio over time.</button
      >
    </div>
  </div>
  <div>
    <p>lets go sleep</p>
  </div>
</div>
