---

---

<header class="py-8 mt-12">
    <nav class="flex justify-between items-center">
        <a href="/">krypto</a>

        <div class="flex items-center flex-wrap gap-8">
            <a href="http://">about</a>
            <a href="http://">pricing</a>
            <a href="http://">contact</a>
            <a href="http://">buy nft</a>
        </div>
    </nav>
</header>